services:
  db:
    image: mysql:8.0.33
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - '3306:3306'
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/campfs
      - bundle:/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
      - chrome
    stdin_open: true

  chrome:
    image: selenium/standalone-chrome:latest
    shm_size: 256m
    ports:
    - 4444:4444

volumes:
  mysql-data:
    driver: local
  bundle:
    driver: local
