<article>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/top-img.jpg" class="d-block w-100" alt="キャンプ場風景写真">
      </div>
      <div class="carousel-item">
        <img src="/assets/top-img2.jpg" class="d-block w-100" alt="焚き火の写真">
      </div>
      <div class="carousel-item">
        <img src="/assets/top-img3.jpg" class="d-block w-100" alt="テントの写真">
      </div>
    </div>
  </div>
  <div class="article-card col-lg-8 text-center">
    <p class="mb-0 pt-3">
      <span class="m-2">次はどこでキャンプしようか</span>
    </p>
    <h1 class="site-title">
      <span class="m-5">TO_CAMP</span>
    </h1>
  </div>
</article>
