<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag("https://picsum.photos/200", size: "100x100", alt: "アイコン" ), "/" %>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="キャンプ場を探す" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">検索</button>
    </form>
  </div>
</nav>
