<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag("https://picsum.photos/200", size: "100x100", alt: "アイコン" ), "/" %>
    <div class="d-flex">
      <%= search_form_for @q, url: fields_path do |f| %> <!--@qはOKなのに@resultsはだめ、なぜ？-->
        <%= f.text_field :name_cont, class: 'form-control me-2', placeholder: 'キャンプ場を探す' %>
        <%= f.submit "検索" , class: 'btn btn-outline-success'%>
      <% end %>
    </div>
  </div>
</nav>
