<%= render "top_main" %>
<%= render "middle_main", q: @q %>
<%= render "under_main", q: @q %>
<div class="row gx-0 mb-lg-5 align-items-center mt-5">
  <div class="col-xl-8 col-lg-7">
    <%= image_tag "top-under-img.png", class: "under-img" %>
  </div>
  <div class="col-xl-4 col-lg-5">
    <div class="featured-text-left text-center text-lg-left mb-5">
      <h4>最高の旅へ出て、癒やしの空間を作ろう</h4>
      <p class="text-black-50 mb-0">Camping begins when you think about going camping. You choose your gear, get in the car, and drive to the campsite with a beautiful view. Build a tent, start a fire, and cook a meal. Then, light the lanterns, and you have a relaxing space!</p>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('.area_btn').click(function(){
      $('.area_overlay').show();
      $('.pref_area').show();
      var area = $(this).data('area');
      $('[data-list]').hide();
      $('[data-list="' + area + '"]').show();
    });
    $('.area_overlay').click(function(){
      prefReset();
    });
    $('.pref_list [data-id]').click(function(){
      if($(this).data('id')){
        var id = $(this).data('id');
        prefReset();
      }
    });
    function prefReset(){
      $('[data-list]').hide();
      $('.pref_area').hide();
      $('.area_overlay').hide();
    }
  });
</script>