@import "~bootstrap/scss/bootstrap"; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');

.site-title {
  font-family: 'Londrina Shadow', cursive;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.icon_img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #64a19d;
}

.page-title {
  font-family: sans-serif;
  color: #64a19d;
  font-weight: bold;
}

.camp-search::after {
  content: '';
  display: block;
  border-bottom: 0.5rem solid #64a19d;
  width: 100px;
  height: 30px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .show-card-body {
    font-size: 0.8rem;
  }
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #EDEAD8;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template:
    // "... ...... ...... ...... ...... ...... ..."
    "... header header header header header ..."
    // "... ...... ...... ...... ...... ...... ..."
    "... top    top    top    top    top    ..."
    // "... ...... ...... ...... ...... ...... ..."
    "... left   ...... center ...... right  ..."
    // "... ...... ...... ...... ...... ...... ..."
    "... footer footer footer footer footer ..." 150px
    // "... ...... ...... ...... ...... ...... ..."

    / auto 150px auto 1fr auto 150px auto;
}

@media screen and (max-width: 1000px) {
  body {
    grid-template:
      "header"
      "top   "
      "center"
      "left  "
      "right "
      "footer"
  }
}

.devise-error-bg {
  color: #664d03;
  background-color: #fff3cd;
}

header {
  background-color: #EDEAD8;
  grid-area: header;
  width: 100%;
}

.d-header-bg {
  background-color: #EDEAD8;
}

article {
  grid-area: top;
  width: 100%;
  height: 100%;
  position: relative;
}

.fa-crown {
  font-size: 3.0rem;
}

.gold-crown {
  color: #FFD700;
}

.silver-crown {
  color: #C0C0C0;
}

.bronze-crown {
  color: #C47222;
}

.ranking-number {
  margin-left: 6px;
  margin-top: 2px;
}

.carousel-inner {
  z-index: 0;
}

.article-card {
  z-index: 1;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: #ffffff;
  opacity: 0.7;
  position: absolute;
  top: 20%;
  left: 20%;
}

nav {
  grid-area: left;
}

main {
  grid-area: center;
}

//top-main
.japan_map {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: table;
}

.japan_map img {
  max-width: 100%;
  height: auto;
  border: 0;
  -webkit-backface-visibility: hidden;
}

.japan_map .area_btn {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  cursor: pointer;
  border: 3px solid #64a19d;
  border-radius: 5px;
  background-color: #FFF;
  padding: 0.2em auto;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: #64a19d;
  transition: .2s;
}

.japan_map .area_btn:hover {
  background-color: #64a19d;
  color: #fff;
  transition: .2s;
  transform: translateY(-3px);
}

.japan_map .area_btn.area1 {
  top: 26%;
  right: 0;
  width: 30%;
}
.japan_map .area_btn.area2 {
  top: 66%;
  right: 11%;
  width: 13%;
}
.japan_map .area_btn.area3 {
  top: 52%;
  right: 27.5%;
  width: 13%;
}
.japan_map .area_btn.area4 {
  top: 73%;
  right: 44%;
  width: 13%;
}
.japan_map .area_btn.area5 {
  top: 56%;
  left: 20%;
  width: 25%;
}
.japan_map .area_btn.area6 {
  top: 75%;
  left: 0;
  width: 25%;
}

.japan_map .area_overlay {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #111;
  opacity: 0.5;
  cursor: pointer;
}

.japan_map .pref_area {
  display: none;
}

.japan_map .pref_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  background-color: #64a19d;
  color: white;
}

.japan_map .pref_list a {
  color: white;
}

.japan_map .pref_list a:hover {
  color: #64a19d;
}

.japan_map .pref_list > .pref-btn {
  box-sizing: border-box;
  width: 50%;
  border: 1px solid white;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  transition: .2s;
}

.japan_map .pref_list > .pref-btn:hover {
  background-color: white;
  transition: .2s;
  transform: translateY(-3px);
}

@media screen and (max-width: 480px) {
  .japan_map .area_btn {
      font-size: 4vw;
  }
}

//middle-main
#middle_main {
  background-color: #dcdbc5;
}

.select-genre {
  color: #64a19d;
}

#q_address_cont {
  color: white;
  background-color: #64a19d;
  padding: 10px;
  border-radius: 5px;
  border-color: #64a19d;
  transition: .2s;
}

.form-check-input:checked {
  background-color: #64a19d;
  border-color: #64a19d;
}

//under-main
.elevation_search {
  color: #64a19d;
}

.elevation_text {
  color: #6c757d !important;
}

.text-primary {
  color: #64a19d !important;
}

.svg-inline--fa.fa-stack-2x {
  height: 1em;
  width: 1.1em;
}

.under-main-link:hover {
  opacity: .6;
  transition: .2s;
}

.under-img {
  object-fit:cover;
  width: 100%;
}

aside {
  grid-area: right;
}

footer {
  background-color: #64a19d;
  grid-area: footer;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -300px;
  ul {
    color: white;
  }
}

.dropdown-footer {
  background-color: #64a19d;
}

.terms-privacy-color {
  background-color: #dcdbc5;
  padding: 30px;
  border-radius: 30px;
}

.footer-link:hover {
  opacity: .85;
  transition: .2s;
}

//scroll-btn
#back {
  position: fixed;
  right: 20px;
  bottom: 200px;
  z-index: 2;
}

.arrow{
  width: 50px;
  height: 50px;
}

.featured-text-right {
  padding: 0 0 0 2rem;
  border-right: 0.5rem solid #64a19d;
}

.featured-text-left {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #64a19d;
}

//各ボタン
.green-btn {
  color: white;
  background-color: #64a19d;
  transition: .2s;
}

.green-btn:hover {
  color: #64a19d;
  background-color: white;
  border-color: #64a19d;
  transition: .2s;
}

.delete-btn {
  color: white;
  background-color: #FF0000;
  transition: .2s;
}

.delete-btn:hover {
  color: #ff0000;
  background-color: white;
  border-color: #ff0000;
  transition: .2s;
}

.white-btn {
  color: #64a19d;
  background-color: white;
  border-color: #64a19d;
  transition: .2s;
}

.white-btn:hover {
  color: white;
  background-color: #64a19d;
  transition: .2s;
}

.search-btn {
  background-color: #64a19d;
  border-color: #64a19d;
}

.search-btn:hover {
  background-color: white;
  color: #64a19d;
  border-color: #64a19d;
}

.create-btn:hover {
  color: white;
  background-color: #64a19d;
  border-color: white;
}

.secondary-btn:hover {
  color: #6c757d;
  background-color: #edead8;
  border-color: #6c757d;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

//ページネーション
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #64a19d;
  border-color: #64a19d;
}

.page-link {
  color: #64a19d;
}

.pagination {
  justify-content: center;
  margin-top: 50px;
}

//バブル
.bubble{
  position: relative;
  display: inline-block;
  min-width: 200px;
  max-width: 100%;
  color: #64a19d;
  border-radius: 50px;
}
//大
@media screen and (min-width: 768px) {
  .bubble::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
    left: -45px;
    top: 130px;
    border-left:   17px solid #64a19d;
    border-top:    17px solid #64a19d;
    border-right:  17px solid #64a19d;
    border-bottom: 17px solid #64a19d;
  }
//小
  .bubble::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
    left: -75px;
    top: 160px;
    border-left:   13px solid #64a19d;
    border-top:    13px solid #64a19d;
    border-right:  13px solid #64a19d;
    border-bottom: 13px solid #64a19d;
  }
}
