<h2><%= "#{@results.name}" %></h2>
<%# @resource.each do |result| %>
  <%#= result.name %>
  <div class="card">
    <div class="card-header text-left">
      <h2 class="show-result-header"><%#= @result.name %> <%#= render "favorite_form" if logged_in? %></h2>
      <div class="rating"><div id="star-head" data-score="<%#= rating(@reviews) %>"></div> <p class="rate-score"><%#= rating(@reviews) %></p></div>
    </div>
    <div>
      <%#= image_tag @result.image.url, class:"card-img img-responsive" %>
    </div>
    <div class="card-body">
      <p><i class="fas fa-tags"></i> <%#= render "hash_tag" %></p>
      <p class="card-text updated_at"><%#= link_to "編集", edit_result_path %> | 最終更新日：<%#= @result.updated_at %></p>
      <div class="share_btn_container">
        <div class="twitter share_btn">
        　<a href="//twitter.com/share" class="twitter-share-button" data-text="<%#= @result.name %> <%#= @result_url %> #campfs" data-lang="ja"></a>
        </div>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="fb-share-button share_btn pb-10" data-href="<%= @studio_url %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
        <div class="line-it-button share_btn" data-lang="ja" data-type="share-a" data-url="<%#= @result.url %>" style="display: none;"></div>
        <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5>施設情報</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <i class="fas fa-map-marker-alt fa-fw"></i> 住所
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.address %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <i class="fas fa-subway fa-fw"></i> 電話番号
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.phone_number %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <i class="fas fa-phone fa-fw"></i> 期間
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.season %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <i class="fas fa-globe-europe fa-fw"></i> チェックイン〜チェックアウト
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.check_in_out %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <i class="far fa-clock fa-fw"></i> 場所
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.place %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <i class="fas fa-yen-sign fa-fw"></i> 標高
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.elevation %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> 区画サイト
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.section_site %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> フリーサイト
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.free_site %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> 地面
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.ground %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> 焚き火・直火
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.fire %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> 車の横付け
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.car %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> セキュリティ
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.security %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> ゴミ
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.trash %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> 風呂・シャワー
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.bath %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5 text-left pl-2">
          <span class="holiday"></span> トイレ
        </div>
        <div class="col-sm-8 col-7 text-left px-0">
          <%#= result.toilet%>
        </div>
      </div>
      <div class="">
        <%= link_to "キャンプ場のリンク" %>
      </div>
    </div>
  </div>
<%# end %>
<div class="card">
    <div class="card-header">
      <h5>マップ</h5>
    </div>
    <div class="card-body">
      <div id="map" style='width: 100%; height: 28vh;'></div>
    </div>
    <p class="access">
      <%#= line_info(@result.accesses&.first) %><%#= @result.accesses&.first.name %>から<%#= @result.accesses&.first.distanceKm %>
    </p>
    <p class="access">
      <%#= @result.accesses&.first.traveltime %>
    </p>
    <p class="access">
      <%#= link_to "GoogleMapで開く", "https://www.google.com/maps/search/?api=1&query=#{@result.latitude},#{@result.longitude}&query_place_id=#{@result.place_id}" , target: "_blank" %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        レビュー　全<%#= @reviews.count %>件
        <%#= render "more" %>
      </div>
      <div id="reviews">
        <%#= render "reviews" %>
      </div>
      <%#= link_to "レビュー投稿", new_review_path(studio_id: @result.id) %>
    </div>
  </div>
</div>
